@import '../../styles.scss';

.product-details--container {
  background-color: #fff;
  display: flex;
  padding: 1rem;
  @include mobile() {
    flex-direction: column;
    padding: 2rem;
  }
}

.product-details--image-description {
  display: flex;
  flex-direction: column;
  width: 70%;
  @include mobile() {
    border-bottom: 1.5px solid rgb(238, 238, 238);
    padding: 0;
    width: 100%;
  }
}

.product-details--summary {
  width: 30%;
  p {
    margin: 0;
    margin-bottom: 0.5rem;
  }
  button {
    width: 100%;
  }
  @include mobile() {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
  }
}